.copyright_section {
  width: 100%;
  background-color: #045215;
  padding: 1rem 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.copyright_text {
  width: 100%;
  font-size: 14px;
  color: #fefefd;
  text-align: center;
  margin: 0;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.05em;
}

.copyright_text a {
  color: #fefefd;
  text-decoration: none;
  font-weight: 600; /* Make the links slightly bolder */
}

.copyright_text a:hover {
  color: #f5f5f5;
  text-decoration: underline; /* Add underline on hover */
}

@media (max-width: 768px) {
  .copyright_text {
    font-size: 12px;
    padding: 0 10px; /* Add padding for mobile devices */
  }
}
